/* ********************************* code-divider mobile view ********************************* */

.app-wraper {
    background-color: #F6F4F0;
    width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.app-wraper img {
    width: 100%;
}

.app-wraper button {

    background-color: #35BD3A;

    font-size: 6vw;
    font-weight: 700;
    color: white;

    padding: 10px 25px;
    border-radius: 8px;
    border: 2px solid transparent;
    border-right-color: rgba(1, 171, 7);
    border-bottom-color: rgba(1, 171, 7);

    margin: 10px;
    margin-top: 25px;

    cursor: pointer;
}

.app-wraper button:hover{
    border-left-color: rgba(1, 171, 7);
    border-top-color: rgba(1, 171, 7);
    color: #35BD3A;
    background-color: transparent;
}

.app-wraper button+p {
    font-size: 4.5vw;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 100px;

    visibility: hidden;
}

.app-wraper button+p+p {
    font-size: 2vw;
    font-weight: 500;
    color: #858585;
    margin-top: 30px;
}

/* ********************************* code-divider tablet view ********************************* */

@media (min-width: 700px) {

    .app-wraper img {
        width: 95%;
    }

    .app-wraper button {
        font-size: 7vw;
        padding: 20px 35px;
        border-radius: 20px;
    }

    .app-wraper button+p {
        font-size: 4vw;
        margin-top: 200px;
    }

    .app-wraper button+p+p {
        font-size: 2.5vw;
        margin-top: 30px;
    }
}

/* ********************************* code-divider laptop view ********************************* */


@media (min-width: 700px) {

    .app-wraper img {
        width: 46%;
    }

    .app-wraper button {
        font-size: 2.6vw;
        margin-top: 10px;
    }

    .app-wraper button+p {
        font-size: 1.6vw;
        margin-top: 100px;
    }

    .app-wraper button+p+p {
        font-size: .9vw;
        margin-top: 10px;
    }
}